.container{
  width: 1002px;
  margin: 0 auto;
}


.main-contents {
  width: 940px;
  margin: 0 auto;
}

.wrapper{
  background-color: #7dd9e8;
  padding:0 30px;
}

.logo-wrapper,.logo-wrapper>*,.nav-items>*,.menu-items>*,.footer-items>*{
  float:left;
}


.logo{
    height: 85px;
}

.menu-wrapper{
  height: 40px;
  line-height: 40px;
}


.notification{
  float: right;
  margin-right: 30px;
}

.notice-wrapper{
  float:left;
  margin-left:32px
}


.container-body {
  height: 667px;
  padding-top: 30px;
}

.aside{
  float: left;
  background-color: #f5f5f5;
}


.footer {
  height: 42px;
  padding:0 30px;
  background-color: #727272;;
}

.footer-link ,.copyright{
  line-height: 42px;
  color: #fdfdfd;
}

.footer-link::after{
  margin:10px;
  content: "•";
}

.copyright{
  float: right;
 
}
