.logo-img {
  margin-top: 20px;
}


.search-form {
  margin-top: 40px;
  margin-left: 24px;
  width: 320px;
}

.search-input-wrapper {
  background-color: #caeff7;
  height: 20px;
  position: relative;
  float: left;
}

.search-input-wrapper:before {
  content: url("../images/input-border-left.png");
  position: absolute;
  left: -7px;
}

.search-input-wrapper:after {
  content: url("../images/input-border-right.png");
  position: absolute;
  right: -7px;
}

.search-input{
  width: 240px;
  height: 100%;
  font-size: 10px;
}

.cross-icon {
  padding-left: 3px;
}

.icon {
  height: 20px;
}

.search-icon {
  border-left: 1px solid #ace6f1;
  padding-left: 3px;
}


.search-btn {
  height: 20px;
  color: white;
  position: relative;
  padding-top: 2px;
  float:right
}

.search-btn-text{
  font-size: 8px;
  padding:5px 0;
  top: 0;
  left: 7.3px;
  background-color: #274f56;
  position: relative;
  font-weight: bold;

}

.search-btn-text::before{
  content: url("../images/search-border-left.png");
  position: absolute;
  top: -1px;
  left: -7px;
}

.search-btn-text::after{
  content: url("../images/search-border-right.png");
  position: absolute;
  top: -1px;
  right: -7px;
}

.nav-bar {
  margin-top: 28px;
  font-size: 14px;
  float: right;
  text-align: right;
}

.nav-bar-heading{
  font-size: 15px;
  font-weight: lighter;
}

.nav-items {
  margin-top: 6px;
  font-size: 10px;
}


.nav-items > *, .description-item{
  padding:0 5px;
  border-right: 1px solid black;
}
.nav-items > .nav-item.last, .description-item.last{
  padding-right:0px;
  border-right: none;
}

.nav-link,.menu-link{
  color: #111;
}

.nav-item:hover{
  text-decoration: underline;
}


.menu-wrapper{
  background-color: #f5f5f5;
}


.menu-item{
  padding:0 16px;
}

.menu-item.first{
  padding-left: 32px;
}

.menu-item:hover{
  background-color: #dbd8d8;
}

.menu-item.active{
  background-color: #274f56;
}
.menu-item.active .menu-link{
  color:#dbd8d8 ;
}


.active-icon,.inactive-icon {
  margin-bottom: -3px;
  margin-right: 5px;
}

.notice-wrapper.active .inactive-icon{
  display: none;
}

.notice-wrapper .active-icon{
  display: none;
}

.notice-wrapper.active .active-icon{
  display: inline;
}

.notice-wrapper .inactive-icon{
  display: inline;
}

.notice-wrapper .notice{
  color: #ababab;
}

.notice-wrapper.active .notice{
  color: #000;
} 

.aside.left{
  width: 194px;
  height: 605px;
  margin-left: 26px;
}

.aside.right{
  width: 176px;
  height: 605px;
  margin-left: 26px;
}

.aside-header{
  min-height: 32px;
  line-height: 42px;
  padding-left: 12px;
  background-color: #2fc1da;
  color: white; 
}

.aside-header span{
  font-size: 15px;
}

.aside-item {
  padding: 9.6px 10px;
  position: relative;
}

.aside-item:hover {
  background: white;
  cursor: pointer;
}

.aside-item p {
  width: 150px;

}

.aside-item-icon {
  position: absolute;
  right: 14px;
  bottom: 10px;
  z-index: 1;
}

.entries {
  width: 518px;
  height: 605px;
  margin-left:25px;
  float:left;
}

.entries-title {
  font-size: 26px;
  margin-top: -6px;
  margin-bottom: 10px;
  font-weight: lighter;
}


.entries-body {
  height: 560px;
}

.entries-heading {
  height: 63px;
  border-bottom: 2px solid #2fc1da;
}

.entries-type {
  width: 258px;
  height: 100%;
  float: left;
  position: relative;
}

.background-element {
  background: #f5f5f5;
  position: absolute;
  top: 0;
  left: 10px;
  width: 236px;
  height: 100%;
  z-index: -10;
}

.entries-type:before {
  content: url("../images/content-border-left.png");
  position: absolute;
  top: 0;
  left: 0px;
}

.entries-type:after {
  content: url("../images/content-border-right.png");
  position: absolute;
  top: 0;
  right: 0;
}


.entry {
  height: 85px;
  padding-top: 15px;
  border-bottom: 1px solid #dddddd;
}

.entry-title {
  font-size: 14px;
  cursor: pointer;
  margin:4px 0px;
}
.entry-title:hover{
  text-decoration: underline;
}

.entry-img {
  height: 70px;
  width: 70px;
  float: left;
}

.entries-type {
  width: 258px;
  height: 100%;
  float: left;
  position: relative;
}

.entries-type.second {
  margin-left: 2px;
}


.entries-type-title {
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.entries-wrapper{
  height: 28px;
  width: 114px;
  margin-left: 10px;
  float: left;
}

.entry-tab{
  background-color: #dddddd;
  width: 90px;
  height: 100%;
  line-height: 28px;
  text-align: center;
  position: relative;
  margin-left: 13px;
}

.entry-tab:hover {
  background-color: #2fc1da;
  color: white;
  cursor: pointer;
}

.entry-tab:before {
  content: url("../images/grey-border-left.png");
  position: absolute;
  left: -13px;
}

.entry-tab:hover:before {
  content: url("../images/blue-border-left.png");
  position: absolute;
  left: -13px;
}

.entry-tab:after {
  content: url("../images/grey-border-right.png");
  position: absolute;
  right: -13px;
  z-index: 10;
}

.entry-tab:hover:after {
  content: url("../images/blue-border-right.png");
  position: absolute;
  right: -13px;
}


.entry-img-wrapper{
  float: left;
}

.entry-description {
  float: left;
  width: 438px;
  height: 100%;
  margin-left: 10px;
}

.bold{
  font-weight: bold;
}

.blue{
  color: #4eafbf;
}

.green {
  color: #6f961f;
}

.red {
  color: #d53f1e;
}

.by{
  margin:4px 0px;
}


