* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --background-clr: #fff;
  --font-clr: #000;
  scroll-behavior: smooth;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--background-clr);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-clr);
}

button {
  border: none;
  padding: 0.4rem 0.85rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e7f6fa;
  padding-bottom: 1rem;
}

.avatar {
  width: 80px;
  height: 80px;
}

.avatar--big {
  width: 120px;
  height: 120px;
}

.avatar--small {
  width: 40px;
  height: 40px;
}

.avatar__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header {
  background-color: #ededed;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.85rem;
  font-size: 1.5rem;
}

.header__right {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-left: auto;
}

.header--loaded {
  background-image: -webkit-gradient(linear, left top, right top, from(#000), to(#fff));
  background-image: linear-gradient(90deg, #000, #fff);
}

.icon-text {
  padding: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.icon-text__text:hover {
  text-decoration: underline;
}

.icon-text__icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.info {
  margin: 1.5rem;
  padding: 20px;
  background-color: var(--background-clr);
  color: var(--font-clr);
}

.info__text {
  font-size: 1.2rem;
  text-align: justify;
}

.info__profile {
  float: right;
  padding: 0px 0px 30px 20px;
}

@media screen and (max-width: 768px) {
  .info__profile {
    margin: 20px auto;
    float: none;
  }
}

.info__sub-header {
  margin: 1rem 0px;
}

.intro--loaded {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.intro__text::before {
  content: ">";
  margin-right: 5px;
}

.intro__description {
  font-size: 1.2rem;
}

.intro__slogan {
  font-size: 1.5rem;
  font-style: oblique;
  margin-top: 1rem;
  color: #fcfc00;
}

.jick-saw__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .jick-saw__card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.jick-saw__card:nth-of-type(even) {
  border-top-left-radius: 20px;
}

.jick-saw__card:nth-of-type(even) .jick-saw__content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 768px) {
  .jick-saw__card:nth-of-type(even) .jick-saw__content,
  .jick-saw__card:nth-of-type(even) .jick-saw__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.jick-saw__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  text-align: justify;
  margin-right: 1rem;
}

.jick-saw__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  margin: 0 1rem;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.jick-saw__img:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fffa), to(#97e6f1aa));
  background: linear-gradient(#fffa, #97e6f1aa);
}

.jick-saw__img:hover img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.jick-saw__img:hover .jick-saw__hidden-btn {
  bottom: 25%;
  opacity: 1;
}

.jick-saw__hidden-btn {
  background-color: #ededed;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 2px solid #97e6f1;
  border-radius: 5px;
}

.jick-saw__hidden-btn:hover {
  background-color: #97e6f1;
}

.jick-saw__hidden-btn a {
  color: #000;
}

.loading:after {
  content: "";
  -webkit-animation: add-ellipse 2s linear 0.5s 2;
          animation: add-ellipse 2s linear 0.5s 2;
}

@-webkit-keyframes add-ellipse {
  0% {
    content: " .";
  }
  20% {
    content: " . .";
  }
  40% {
    content: " . . .";
  }
  100% {
    content: " .";
  }
}

@keyframes add-ellipse {
  0% {
    content: " .";
  }
  20% {
    content: " . .";
  }
  40% {
    content: " . . .";
  }
  100% {
    content: " .";
  }
}

.picture {
  width: 200px;
  height: 200px;
}

.picture--large {
  width: 300px;
  height: 300px;
}

.picture--small {
  width: 100px;
  height: 100px;
}

.picture__img {
  width: 100%;
  height: 100%;
}

.picture__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.timeline__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline__date {
  padding-right: 30px;
  position: relative;
}

.timeline__date::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #97e6f1;
  position: absolute;
  top: 0;
  right: -12px;
}

.timeline__text {
  position: relative;
  border-left: 5px solid #97e6f1;
  padding: 10px 0px 10px 30px;
  white-space: nowrap;
}

.toggler {
  outline: none;
}

.toggler__input {
  display: none;
}

.toggler__input:checked + .toggler__label {
  background-color: #97e6f1;
}

.toggler__input:checked + .toggler__label::before {
  background-color: #c4c4c4;
  -webkit-transform: translate(40px, 0px);
          transform: translate(40px, 0px);
}

.toggler__label {
  width: 80px;
  height: 40px;
  border-radius: 40px;
  display: block;
  position: relative;
  margin-left: auto;
  cursor: pointer;
  background-color: #c4c4c4;
}

.toggler__label::before {
  content: "";
  display: block;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  -webkit-transition: 0.3s -webkit-transform ease-in-out;
  transition: 0.3s -webkit-transform ease-in-out;
  transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out, 0.3s -webkit-transform ease-in-out;
  background-color: #97e6f1;
}

.footer {
  margin: 1.5rem;
  padding: 20px;
  background-color: var(--background-clr);
  color: var(--font-clr);
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

@media screen and (min-width: 768px) {
  .md-mb-2 {
    margin-bottom: 2rem !important;
  }
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

@media screen and (min-width: 768px) {
  .md-ml-1 {
    margin-left: 1rem !important;
  }
}

.right {
  margin-left: auto;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

@media screen and (min-width: 768px) {
  .md-f-left {
    float: left !important;
  }
}

@media screen and (min-width: 768px) {
  .md-f-right {
    float: right !important;
  }
}

.no-display {
  display: none;
}

.cursor-ptr {
  cursor: pointer;
}

.scale-to-size {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gap-1 {
  gap: 1rem !important;
}

.gap-2 {
  gap: 2rem !important;
}

.gap-3 {
  gap: 3rem !important;
}

.f-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}
/*# sourceMappingURL=style.css.map */