* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-clr: #fff;
  --font-clr: #000;
  scroll-behavior: smooth;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--background-clr);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-clr);
}

button {
  border: none;
  padding: 0.4rem 0.85rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: getColor("blue.20");
  padding-bottom: 1rem;
}
