.header {
  background-color: getColor("grey.10");
  min-height: 150px;
  display: flex;
  align-items: center;
  padding: 0.85rem;
  font-size: 1.5rem;

  @include e(right) {
    transition: all 0.2s ease-in;
    margin-left: auto;
  }

  @include m(loaded) {
    background-image: linear-gradient(
      90deg,
      getColor("black.base"),
      getColor("white.base")
    );
  }
}
