.header {
  background-color: getColor("white.base");
  border-radius: 5px;
  min-height: 150px;
  display: flex;
  align-items: center;
  padding: 0.85rem;
  font-size: 1.5rem;

  @include e(right) {
    margin-left: auto;
  }

  @include m(loaded) {
    background-image: linear-gradient(
      90deg,
      getColor("black.base") 70%,
      getColor("white.base")
    );
  }
}
