.icon-text {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include e(text) {
    &:hover {
      text-decoration: underline;
    }
  }

  @include e(icon) {
    &:hover {
      transform: scale(1.5);
      transition: all 0.2s ease-in;
    }
  }
}
