@import "./breakpionts";

.info {
  margin: 1.5rem;
  padding: 20px;
  background-color: var(--background-clr);
  color: var(--font-clr);

  @media screen and (max-width: $md) {
    margin: 0;
  }

  @include e(text) {
    font-size: 1.2rem;
    text-align: justify;
  }

  @include e(profile) {
    float: right;
    padding: 0px 0px 30px 20px;
    @media screen and (max-width: $md) {
      margin: 20px auto;
      float: none;
    }
  }

  @include e(sub-header) {
    margin: 1rem 0px;
  }
}
