.wrapper{
    width: 515px;
    height:515px;
    position: relative;
    background-color: aliceblue;
    margin: 5px auto;
}

.dot{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #932;
}
