*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-basis: content;
    justify-content: space-around;
    flex-wrap: wrap;
}

.canvasWrapper{
    border: 5px solid blue;
}

h1{
    color: blue;
}