.carousel-container {
    overflow: hidden;
    position: relative;
}
  
.carousel-image-wrapper > img {
    float: left;
    padding: 0px 10px;
}

.carousel-container  .carousel-prev,.carousel-container  .carousel-next{
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: #e489d388;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
}

.carousel-container  .carousel-prev {
    left: 0;
}
  
.carousel-container .carousel-next {
    right: 0;
}
  
.slide-index-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.btn-indicator{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    margin:2px 5px;
    border:2px solid #dddddd;
    cursor: pointer;
    background-color: #888888;
}
.btn-indicator:disabled{
    background-color: #dddddd;        
}