.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.no-display{
  display:  none;
}

.scale-to-size{
  transform: scale(1);
}