@import "../breakpionts";

.m-1 {
  margin: 1rem !important ;
}

.m-2 {
  margin: 2rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.md-mb-2 {
  @media screen and (min-width: $md) {
    margin-bottom: 2rem !important;
  }
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.md-ml-1 {
  @media screen and (min-width: $md) {
    margin-left: 1rem !important;
  }
}

.right {
  margin-left: auto;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.md-f-left {
  @media screen and (min-width: $md) {
    float: left !important;
  }
}

.md-f-right {
  @media screen and (min-width: $md) {
    float: right !important;
  }
}

.no-display {
  display: none;
}

.cursor-ptr {
  cursor: pointer;
}

.scale-to-size {
  transform: scale(1);
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-start {
  align-items: start;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.gap-1 {
  gap: 1rem !important;
}

.gap-2 {
  gap: 2rem !important;
}

.gap-3 {
  gap: 3rem !important;
}

.f-wrap {
  flex-wrap: wrap !important;
}
